<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414713406954-oq8vbrdeuicl21u1ruqn4kf2cr2970lg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414713406954-oq8vbrdeuicl21u1ruqn4kf2cr2970lg</string>
	<key>API_KEY</key>
	<string>AIzaSyDOoClfQ0IRknGJfqJXDLhovjqQ7kUj-1s</string>
	<key>GCM_SENDER_ID</key>
	<string>414713406954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Ribon</string>
	<key>PROJECT_ID</key>
	<string>ribon-app-6b996</string>
	<key>STORAGE_BUCKET</key>
	<string>ribon-app-6b996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414713406954:ios:27c43961fdc6a72489be93</string>
</dict>
</plist>