<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243531812303-n2ngbrrqnd1708d5hhu56stlv3j8k546.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243531812303-n2ngbrrqnd1708d5hhu56stlv3j8k546</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>243531812303-8fsa72e9oei0d5inaodbhal7llid6kmi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXwGjeKBOWl-ADmvFNZnaobHLmYKE962g</string>
	<key>GCM_SENDER_ID</key>
	<string>243531812303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Ribon</string>
	<key>PROJECT_ID</key>
	<string>ribon-dapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ribon-dapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243531812303:ios:cbd2d57db868e696f856ba</string>
</dict>
</plist>